# Configurare Baza de Date Cheltuieli
# PENTRU ACCES LOCAL (din birou):
EXPENDITURES_DB_HOST=192.168.1.39
EXPENDITURES_DB_PORT=26257

# PENTRU ACCES EXTERN (de pe orice PC):
# EXPENDITURES_DB_HOST=82.76.35.50
# EXPENDITURES_DB_PORT=26257  # sau portul configurat pe router

EXPENDITURES_DB_USER=cashpot
EXPENDITURES_DB_PASSWORD=129hj8oahwd7yaw3e21321
EXPENDITURES_DB_NAME=cashpot
